<h1>Продажа квартир</h1>
<aside>
    <app-facet></app-facet>
</aside>
<section>

    <ul class="flatCards">
        <li *ngFor="let flatCard of flatCards">
            <span>{{flatCard.category.name}}, {{flatCard.id}}</span>
            <div>
                <a class="" routerLink="/flats/{{flatCard.id}}">
                    {{flatCard.city.name}} {{flatCard.address}}
                </a>
            </div>
            <p>{{flatCard.square}} кв.м, <span>{{flatCard.price}} ₽</span></p>
        </li>
    </ul>

</section>