<h1>Продажа квартир</h1>
<aside>
    <span class="cities">
        <select (ngModelChange)="onCityChange($event)"  [(ngModel)]="selectedCity">
            <option *ngFor="let city of citySelect" [ngValue]="city">{{city}} 
        </select>
    </span>
    
    <ul class="category">
        <li *ngFor="let category of checkboxesCategory">
            <input type="checkbox" [value]="category.name" (change)="onCategoryCheckboxChange($event)"> {{category.name}}
        </li>
        
    </ul>
    
    <ul class="rooms-number">
        <li *ngFor="let checkbox of checkboxesRoom">
            <input type="checkbox" [value]="checkbox.roomsAmount" (change)="onRoomsCheckboxChange($event)"> {{checkbox.roomsAmount}}
        </li>
        
    </ul>
</aside>
<section>

    <ul class="flatCards">
        <li *ngFor="let flatCard of flatCards" >
            <span>{{flatCard.category.name}}, {{flatCard.id}}</span>
            <div>
                <a class="" routerLink="/flats/{{flatCard.id}}">
                    {{flatCard.city.name}} {{flatCard.address}}
                </a>
            </div>
            <p>{{flatCard.square}} кв.м, <span>{{flatCard.price}} ₽</span></p>
        </li>
    </ul>

</section>