.content {
    font: 400 16px Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    padding: 10px;
}

.card-container {
    background-color: white;
    padding: 20px;
}

h1 {
    color: #273142;
    font-size: 20px;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    margin-right: 27px;
    margin-left: 10px;
}

h3 {
    font-size: 12px;
    font-weight: 400;
}

p {
    color: black
}

pre {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}